* {
    /*   * is universal selector */
    background-color: lightgray;
}

h1 {
    color: brown;
}

p {
    text-align: center;
    background-color: cadetblue;
    /* this is over the p but not which is inside p like b*/
}

ul li {
    background-color: lightblue;
}

ul li.red {
    /* . use for class */
    color: red;
}

p#para {
    /* #use for id */
    color: red;
}

[class] {
    /* this is use for all class*/
    font-size: larger;
}

[id] {
    font-size: larger;
}
[anyname] { /* user define */
    color: green;
}